body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.waiting-root{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(38deg , #a7fca6, #55e168);
}

.waiting-footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 600px;
}

.waiting-footer-body{
  width: 100%;
  height: 100%;
  background-color: darkslategray;
  display: inline-block;
  margin: 0 0 0 0;
  color: white;

  p{
    margin: 10px 20px 10px 0;
    font-size: 25px;
    vertical-align: middle;
    text-align: right;
    text-wrap: nowarp;
  }
}

.waiting-footer-body::after{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  border-bottom: 29px solid darkslategray;  
  border-left: 20px solid transparent; 
  border-right: 20px solid darkslategray;  
  border-top: 29px solid transparent;  
}

.tournament{
  position: absolute;
  display: block;
  left: 200px;
  top: 100px;
  width: 70vw;
  height: 70vh;
}

.tournament-header{
  position: relative;
  display: flex;
  color: white;
  p{
    margin: 0 0 0 20px;
    width: 100px;
    padding: 5px 0;
    background-color: darkslategray;
    text-align: center;
  }

  p::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: calc(100% - 20px);
    border-bottom: 17px solid darkslategray;  
    border-left: 10px solid transparent; 
    border-right: 10px solid darkslategray;  
    border-top: 17px solid transparent;  
  }

  p::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: calc(100% - 140px);
    border-bottom: 17px solid darkslategray;  
    border-right: 10px solid transparent; 
    border-left: 10px solid darkslategray;  
    border-top: 17px solid transparent;  
  }
}

.challonge-view{
  position: relative;
  width: 70vw;
  height: 60vh;
}

.clock{
  position: absolute;
  right: 10px;
  top: 0;
  color: black;

  p{
    margin: 0;
    font-size: 70px;
  }
}